*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* #371B58 */

.debug{
    outline: 1px solid red;
}

.active{
    color: aqua;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #7858a6;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #371B58;
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    padding: 10px 10px;
}

nav li{
    padding-left: 1rem;
}

nav a{
    color: white;
}

nav img {
    width: 230px;
}

@media only screen and (max-width: 600px) {

  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }

  nav img{
    width: auto;
  }
}

.container{
    display: flex;
}

div article{
    color: white;
}

.who{
    text-align: justify;
}

.how{
    text-align: justify;
}

.col{
    flex-direction: column;
}

.pad{
    padding: 20px 20px;
}

.border{
    border: 1px solid #4c3575;
    background-color: #4c3575;
    border-radius: 5px;
}

.landing-text{
    text-align: justify;
    width: 50%;
}

.center{
    justify-content: center;
    align-items: center;
}

footer{
    justify-content: center;
    text-align: center;
    color: white;
}

.content{
    display: flex;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.course{
    
}